.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  height: 200px;
  width: 200px;
}

.heading {
  color: #6d396b;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
}
